h1,h2,h3,h4,h5,h6,p,ul,li,a,span,strong{
  font-family: 'Source Sans Pro', sans-serif;
}


.button{
  background: #7598C1;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 25px;
}


.home.top{
  position: relative;
  z-index: 1;
  @include breakpoint(small){
    
  }
  @include breakpoint(medium){
    
  }
  @include breakpoint(large){
    
  }
  .logo-container{
    background: white;
    padding: 25px;
    border-radius: 25px;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    margin-top:-80px;
    margin-bottom: 50px;
    @include breakpoint(small){
      width: 300px;
    }
    @include breakpoint(medium){
      width: 400px;
    }
    @include breakpoint(large){
      width: 400px
    }
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.home.intro{
  p{
    color: $blue;
    font-size: 22px;
  }
}

.home.filter{
  padding:25px 0;
  h5{
    color: #496D96;
    font-weight: bold;
  }
  select{
    border: solid 1px#496D95;
    color: #496D96;
  }
}

.home.restaurants{
  padding-top: 50px;
  .restaurant{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,.05);
    padding: 0 25px;
    .image-container{
      height: 150px;
      padding: 25px 0;
      img{
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 85%;
      }
    }
    .order{
      text-align: center;
      height: 125px;
      margin-top: 25px;
      position: relative;
      h6{
        color: #3D5169;
        font-weight: bold;
        font-size: 13px;
        text-transform: uppercase;
        line-height: 1;
      }
      h5{
        color: #7598C1;
        font-size: 22px;
        line-height: 1;
      }
      .button{
        background: #7598C1;
        color: white;
        font-weight: bold;
        font-size: 14px;
        border-radius: 5px;
        padding: 8px 15px;
      }
      .website{
        color: #3D5169;
        text-decoration: underline;
        font-size: 13px;
        margin-top: 15px;
        display: block;
        position:absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 15px;
      }
    }

  }
  .join{
    opacity: .5;
  }
}

.home.sign-up{
  padding: 50px 0;
  margin: 50px 0;
  border-top: solid 1px #496D96;
  border-bottom: solid 1px #496D96;
  h3{
    color: #707070;
    text-align: center;
    font-size: 28px !important;
    font-weight: 400 !important;
  }
  form{
    label{
      display: none !important;
    }
    .show-label{
      label{
        display: inline-block !important;
      }
    }
    .gform_footer{
      text-align: center;
      input[type="submit"]{
        background: #7598C1;
        color: white;
        font-weight: bold;
        font-size: 16px;
        border-radius: 5px;
        padding: 10px 25px;
      }
    }
  }
}

footer{
  margin-bottom: 50px;
  margin-top: 50px;
  overflow: hidden;
  p{
    color: #496D96;
    margin-bottom: 50px;
  }
  img{
    width: 140px;
    margin-top: 50px;
  }
}